:root {
    
    --bg-color-L:linear-gradient(90deg, rgba(222,0,255,1) 0%, rgba(119,0,255,1) 32%, rgba(37,0,102,1) 72%, rgba(68,0,77,1) 100%);
    --font-color:#ffebcd;
    --bg-color-L2: #f4f3e1;
    

}