@import "./variáveis";

* {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.geral {
  background: var(--bg-color-L);
}

.cabecalho {
  background-color: #0000009e;
  color: var(--font-color);
  max-width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--bg-color-L);
  max-width: 100%;
  @media (min-width: 874px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.container-filho {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

header img {
  width: 30vw; /* Ajustado para responsividade */
  height: 30vw;
}

nav {
  background-color: #0000009e;
  color: var(--font-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;

  @media (min-width: 874px) {
    flex-direction: row;
    width: 100%; /* Adjusted for responsiveness */
    justify-content: space-around;
  }
}

.perguntas {
  display: flex;
  background-color: rgb(216, 173, 230);
  color: #000000;
  justify-content: center;
  max-width: 100%; /* Adjusted for responsiveness */
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  
}

.marca {
  align-self: flex-start;
  
}

.container p {
  padding: 5px;
  font-size: 20px;
}

.container h2 {
  background-color: #0000009e;
  color: var(--font-color);
  width: 100%; /* Removido a largura fixa */
  height: 180px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
}

.container button {
  width: 100%;
  max-width: 150px; /* Added max-width for smaller screens */
  margin-top: 10px; /* Added margin for spacing */
  background-color: #0000ff;
  color: var(--font-color);
  &:hover {
    background-color: red;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-L);

  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.cards .card {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  width: 100%; /* Adjusted for responsiveness */
  max-width: 300px; /* Added max-width for smaller screens */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 70px;
}

.cards .card h2 {
  font-family: helvetica;
  font-size: 24px;
  margin-bottom: 10px;
}

.cards .card p {
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.cards .card button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #0000ff;
  color: #ffffff;
}

.vantagens {
  margin-top: 30px;
  border: 2px solid;
  text-align: center;
  color: var(--bg-color-L2);
  background-color: var(--bg-color-L);
}
